* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: brown;
    width: 600px;
    height: 100px;
}

@media (max-width: 600px) {
    .box1 {
        background-color: black;
    }
}

@media (max-width: 400px) {
    .box1 {
        background-color: green;
    }
}

@media (min-width: 1200px) {
    .box1 {
        background-color: blue;
    }
}

/* if screen >= 300px */
@media (min-width: 300px) {
    .only-small-screen {
        display: none;
    }
}

/* if screen <= 300px */
@media (max-width: 300px) {
    .not-small-screen {
        display: none;
    }
}